table td, table th {
  padding: 0.1em 1em;
  font-size: 1em;
  font: 12px 'Lucida Grande', Verdana, Arial, Sans-Serif; /* Resets 1em to 10px */
}

table th {
  border-bottom: 2px solid black;
}

#primary h1 {
  font-size: 2.2em;
  color: black;
  padding: 0;
  margin-bottom: 1em;
}

form.inline {
  display: inline;
  float: left;
  margin-right: 3px;
}

#header h1 a:hover {
  text-decoration: none;
}

a.delete {
  color: red;
}

span.logged_in_user {
  float: right;
  margin: 5px 10px;
  color: white;
}

span.logged_in_user a {
  color: white;
  text-decoration: underline;
}

fieldset p {
  padding: 2px;
}

fieldset {
  padding: 10px;
  margin: 5px;
}

form#new_person table td {
  padding: 5px 10px;
}

#tips
{
  width:80%;
  top:3%;
  background:#B4CFEC;
  border: 1px solid #000000;
  padding: 10 10 10 10;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
}

#tips h3
{
  font-size: 16px;
}

#side_nav
{
  float: left;
  position: relative;
  width: 20%;
  height: 100%;
  padding-top: 15px;
  margin-left: 5px;
}

#side_nav.vi
{
  height: 345px;
}

#side_nav.mod_surv
{
  height: 445px;
}

#side_nav.edit_tips
{
  height: 800px;
}

#content, #wrapper.mod_surv, #dt_example.admin
{
  float: right;
  width: 78%;
  text-align: left;
  position: relative;
  /*border-left: solid 1px;
  border-color: blue;*/
  padding-left: 5px;
}

#wrapping
{
  height: 100%;
  background-color: white;
  min-height: 410px;
}

#wrapping.mod_surv
{
  min-height: 450px;
}

.clear
{
  clear:both;
}

.question
{
  float: left;
}

.response
{
  float: left;
  padding-left: 20px;
}

.submit_buttons
{
  clear: both;
  padding-top: 20px;
}